version: '3.7'

services:

  gortas:
    build:
      context: .
    ports:
      - 8080:8080
    depends_on:
      - mongo

  gortas-ui:
    build: 
      context: ../gortas-ui
    ports:
     - 3000:80

  mongo:
    image: mongo:latest
    restart: always
    ports: 
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: changeme

  # mongo-express:
  #   image: mongo-express
  #   restart: always
  #   ports:
  #     - 8081:8081
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: root
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: changeme